<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from html.iwthemes.com/mas/appointments-reserved-empty.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 05 Nov 2018 14:20:08 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1,  maximum-scale=1">
    <meta name="Description" content="" />
    <meta name="author" content="" />
    <title>Randevu Takip App</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/styles.css" rel="stylesheet" media="screen">
    <link href="~/lib/calendar/fullcalendar.min.css" rel="stylesheet" media="screen">
    <link href="/lib/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="~/lib/sweetalert/sweetalert2.min.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" type="image/ico" href="img/favicon.ico" />

    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-sprockets.js"></script>
    <script src="/js/main.js"></script>
    <script src="/lib/select2/select2.full.min.js"></script>
    <script src="~/lib/calendar/moment.min.js"></script>
    <script src="~/lib/calendar/fullcalendar.min.js"></script>
    <script src="~/lib/calendar/locale-all.js"></script>
    <script src="~/lib/calendar/tr.js"></script>
    <script src="~/lib/sweetalert/sweetalert2.min.js"></script>


</head>
<body>
    <div id="layout">
      <partial name="_HeaderPartial" />
        <partial name="_NavPartial" />
    </div>
    <section class="container">
        <div class="main-container">
            @RenderBody()
            </div>
        </section>
</body>



</html>